{% extends 'home/common/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    {% endblock css %}
{% block title %}Movies{% endblock title %}
{% block content %}
    {% if movie %}
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>cover_link</th>
            <th>language</th>
            <th>subtitle</th>
            <th>textbox</th>
            <th>d_link</th>
            <th>ss_1</th>
            <th>ss_2</th>
            <th>ss_3</th>
            <th>ss_4</th>
        </tr>
        {% for mov in movie %}
        <tr>
            <td>{{ mov.id }}</td>
            <td>{{ mov.name }}</td>
            <td>{{ mov.cover_link }}</td>
            <td>{{ mov.language }}</td>
            <td>{{ mov.subtitle }}</td>
            <td>{{ mov.textbox }}</td>
            <td>{{ mov.d_link }}</td>
            <td>{{ mov.ss_1 }}</td>
            <td>{{ mov.ss_2 }}</td>
            <td>{{ mov.ss_3 }}</td>
            <td>{{ mov.ss_4 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>not available any data</h2>
    {% endif %}
{% endblock content %}