<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Request from</title>
</head>
<body>
    <form action="" method="get">
        {{form.as_div}}
        <br>
        <input type="submit" value="submit">
        <hr>
        <div>
            {{form.subject.label_tag}}
            {{form.subject}}<br><br>
            {{form.email.label_tag}}
            {{form.email}}<br><br>
            {{form.Moviename.label_tag}}
            {{form.Moviename}}
        </div>
        <input type="submit" value="submit">
    </form>

</body>
</html>